body{
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:500px;
padding:25px;
background:white;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
margin:auto;
}

.title-frame{
border:2px solid transparent;
border-radius:12px;
padding:18px;
text-align:center;
margin-bottom:25px;
background:linear-gradient(white,white) padding-box,
linear-gradient(135deg,#667eea,#764ba2) border-box;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.title-frame h1{
margin:0;
font-size:30px;
color:#333;
letter-spacing:1px;
}


form{
display:flex;
flex-direction:column;
}

label{
margin-top:15px;
font-weight:500;
}

select,input{
padding:10px;
margin-top:5px;
border-radius:6px;
border:1px solid #ccc;
}

button{
margin-top:20px;
padding:12px;
background:#4a6cf7;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#2f4ed8;
}